* {
    margin: 0;
    padding: 0;
}
.artigo1{
    text-align: center;
    margin-left:20%;
    margin-right:20%;
    text-align: justify;
}
.artigo h1{
    text-align: center;
}
.text-center{
    text-align: center;
}
.text-center img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    height: 40%;
}


@media screen and (max-width:768px) {
    .text-center img{
        width: 75%;
        height: 85%;
    }
}
header{
    text-align: center;
    background-color: rgba(0,0,0,0.877);
}
.titulo h1{
    background-image:linear-gradient(rgb(38,70,138),rgb(0,159,224));
    background-clip:clip ;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1;
}
footer{
    text-align: center;
    background-color: rgba(0,0,0,0.877);
    margin-top: 400px;
    
}
.baixo{
    background-image:linear-gradient(rgb(38,70,138),rgb(0,159,224));
    background-clip:clip ;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.1;
    
    font-size: 20px;
    padding-bottom: 30px ;
}
main{
    padding-top: 100px;
}
#slider{
    width: 80%;
    max-width: 500px;
    height: 25vw;
    max-height: 150px;
    position: fixed;
    
}
#slider img{
    opacity: 0;
    position: absolute;
    width: 200px;
    height: 565px;
    object-fit: cover;
    transition: opacity 800ms;

}
#slider img.selected {
    opacity: 1;
}
.container-principal{
    display: flex;
    gap: 20px;
}
